html {
    --so-orange: #f48024;
    height: 100vw;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

main {
    width: 49%;
    margin-left: 1%;
    margin-top: 1%;
}

#results-table, #results-table td, #results-table th {
    border: 1px solid black;
    word-wrap: break-word;
}

input#query {
    margin-right: 5px;
    height: 40px;
    border:1px solid rgb(92, 48, 23);
    text-indent: 15px;
    outline: none;
    width: 100%;
    border-radius: 5px;
}

.button {
    width:70px;
    height: 42px;
    background: rgb(92, 48, 23);
    border:0px;
    color:white;
    cursor:pointer;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #f5f5f5;
    line-height: 35px;
}
.all{
    grid-row-start: 1;
    grid-row-end: 2;
}

.score {
    width: 60px;
    line-height: 15px;
}
.result-link {
    font-size: 1.1rem;
}

.result-link::first-letter {
    text-transform: capitalize;
}

.spell-correction {
    font-size: large;
}

.post-snippet {
    color: #4d5156;
}

.bootstrap-autocomplete {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bootstrap-autocomplete > a {
    cursor: pointer;
}

.logo {
    margin-left: -5%;
}

.page-number-of {
    display: none;
}

.footer-lb {
    display: none;
}


@media only screen and (max-width: 576px) {
    .logo {
        width: 50px;
    }
    .button {
        width: 40px;
    }
    .page-number {
        display: none;
    }
    .page-number-of {
        display: block;
    }
    .footer-lb {
        display: block;
    }
    .footer {
        line-height: 20px;
    }
}
main table * {
    width: 100vw;
    height: 100vh;
}
.flexed {
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-wrap: wrap;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
}
.imgs {
    display: flex;
    flex-wrap: wrap;
    width:49%;
    height:100%;
    margin-right: 1%;
}
.imgs img {
    width: auto;
    height: auto;
    max-width: 300px;
    height: 300px;
}
.all {
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nav {
    display: flex;
    justify-content: center;
    width:100%;
}
.allscrpt {
    width:100vw;
    display: flex;
    justify-content: center;
    height: auto;
}

